# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfplan

# Environment / secrets
.env
.env.*
!.env.example

# Node
node_modules/

# Ansible
ansible/*.retry
ansible/.vault_password
ansible/*.vault
